doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldcover"},
      {url: "https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Mono"},
      {url: "/css/index.css"}
    ])
  body
    +script([
      {name: "@loadingio/debounce.js"},
      {name: "@loadingio/ldquery"},
      {name: "@plotdb/semver"},
      {name: "@plotdb/rescope", version: "dev"}
    ])

    script(type="module"): include:lsc index.ls
