extends /base.pug
block head
block body
  .py-4: .w-1024.rwd.mx-auto.my-4
    .row
      .col-md
        .text-center: h5 Rendered with D3 v3
        .aspect-ratio.ratio-1by1: svg#d3v3.w-100.h-100.bg-light.rounded.shadow
      .col-md
        .text-center: h5 Rendered with D3 v4
        .aspect-ratio.ratio-1by1: svg#d3v4.w-100.h-100.bg-light.rounded.shadow
  .ldcv: .base.w-480: .inner.card: .card-body: .p-4
    .text-center: h1 It Works!
    .py-4
      p This dialog is triggered with the support of a set of JS libraries which are dynamically loaded by rescope.
      p These loaded libraries are only available when we explicitly enter their contexts.
    .btn.btn-lg.btn-block.btn-primary(data-ldcv-set="") Dismiss
block script

  +script("assets/lib/bootstrap.native/main/bootstrap-native.min.js")
  +script("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.js")
  +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
  +script("assets/lib/ldcover/main/index.min.js")
  +script("assets/lib/ldview/main/index.min.js")
  +script("js/functest.js")
  +script("https://d3js.org/d3.v4.js")
  +script("https://d3js.org/d3-format.v2.min.js")
  +script("https://d3js.org/d3-array.v2.min.js")
  +script("https://d3js.org/topojson.v2.min.js")
  +script("https://d3js.org/d3-color.v1.min.js")
  +script("https://d3js.org/d3-interpolate.v1.min.js")
  +script("https://d3js.org/d3-scale-chromatic.v1.min.js")
  +script("https://d3js.org/d3-dispatch.v2.min.js")
  +script("https://d3js.org/d3-quadtree.v2.min.js")
  +script("https://d3js.org/d3-timer.v2.min.js")
  +script("https://d3js.org/d3-force.v2.min.js")

  +script("js/index.js")
