doctype html
html
  block vars
  include @/bootstrap.ldui/dist/index.pug
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Mono")
    +css("/assets/lib/ldcover/main/ldcv.min.css")
    +css("/css/index.css")
  body
    .w-1024.rwd.mx-auto.h-100
      h1.text-center hello
      .aspect-ratio.ratio-2by1: svg.w-100.h-100
    +script("/assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/rescope/dev/rescope.js")
    script: include:lsc dev.ls

