extends /base.pug
block head
block body
block script
  +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")

  +script("https://d3js.org/d3.v4.js")
  +script("https://d3js.org/d3-array.v2.min.js")
  +script("https://d3js.org/d3-scale-chromatic.v1.min.js")
  +script("https://d3js.org/d3-color.v2.min.js")
  +script("https://d3js.org/d3-dispatch.v2.min.js")
  +script("https://d3js.org/d3-ease.v2.min.js")
  +script("https://d3js.org/d3-interpolate.v2.min.js")
  +script("https://d3js.org/d3-timer.v2.min.js")
  +script("https://d3js.org/d3-selection.v2.min.js")
  +script("https://d3js.org/d3-transition.v2.min.js")
  +script("https://d3js.org/d3-drag.v2.min.js")
  +script("https://d3js.org/d3-brush.v2.min.js")

  +script("/assets/lib/@plotdb/rescope/dev/index.js")
  script: include:lsc index.ls
