extends /base.pug
block head
block body
  .w-1024.rwd.mx-auto
    #root.aspect-ratio.ratio-2by1: svg.w-100.border.h-100.shadow-sm
block script
  +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
  script: include:lsc map.ls
