extends /base.pug
block head
block body
  .w-1024.rwd.mx-auto
    #root: svg.w-100
block script
  +script("https://d3js.org/d3.v4.js")
  +script("/assets/dev/d3-array.v2.js")
  +script("https://d3js.org/d3-transition.v2.min.js")
